<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>star</mat-icon>
    </button>
    <span>Indicadores</span>

    <button mat-icon-button class="example-icon">
        <mat-icon>people</mat-icon>
    </button>
</mat-toolbar>

<div class="container py-5 pb-100">

    <div class="masonry-container">

        <div class="masonry pb-2" *ngFor="let indicador of indicadores">
            <div class="card shadow-sm" (click)="routerDetallePrecios(indicador[0].codigo)">
                <mat-card class="example-card card-hover">

                    <div class="d-flex">
                        <i [class]="indicador[1] + ' icon-card'"></i>
                        <div class="ms-2 w-100">
                            <mat-card-title>{{indicador[0].nombre}}</mat-card-title>
                            <mat-card-subtitle>{{indicador[0].unidad_medida}}</mat-card-subtitle>
                        </div>
                        <div class="d-flex align-items-end">
                            <i class="fas fa-exclamation-circle float-end exclamation-hover" (click)="routerDetalleIndicador(indicador[0].codigo, $event)"></i>
                        </div>
                    </div>

                </mat-card>
            </div>
        </div>

    </div>

</div>
