.pb-100 {
    padding-bottom: 100px !important;
}

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.icon {
    font-size: 22px;
}

.icon-card {
    font-size: 22px;
}

.mat-card-title {
    font-size: 19px;
}

.icon-bitcoin {
    color: #f28c15;
}

.icon-dolar {
    color: #38953d;
}

.icon-cobre {
    color: #b97132;
}

.icon-euro {
    color: #d3b709;
}

.icon-utm {
    color: #d3ae36;
}

.icon-tpm {
    color: #1d5b84;
}

.icon-ivp {
    color: #023293;
}

.icon-desempleo {
    color: #f1a041;
}

.icon-uf {
    color: #f0714f;
}